body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    background-color: rgba(148, 144, 133, 0.884);
}

#pageheader {
position: top;
background-color: black;
font-family: Arial, Helvetica, sans-serif;
color: white;
margin: 0;
height: 6em;
padding: 0 0 0 0;
position:fixed;
top: 0;
width: 100%;
z-index: 1;
}

#storeDescription {
    height: 5em;
    width: 1525px;
    padding: 5px;
    margin: 6em auto 0 auto;
    z-index: -1;

}

#storeDescription p {
    margin: 0;
    text-align: left;
    font-size: 1.75em;
}

#pageheader h1{
    padding: 0 0 0 0;
    margin: .25em auto 0 auto;
    font-size: 2.55em;
    position: relative;
    bottom: 0;
    text-align: center;

}

.bundle img {
    height: 320px;
    width: 230px;
    max-width: 100%;
}

.bundle{
    float: left;
    text-align: center;
    margin: 2.5px;
    padding: 2.5px;
    border: 5px groove darkslategray;
}

.bundle h3{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    
}

.bundle span {
    text-align: left;
}

#bundles1 {
    width: 750px;

    float: left;
    margin:10px 10px 10px auto;
}
#bundles2 {
    width: 750px;

    float: left;
    margin: 10px auto 10px 10px;
}

.buttons{
    position: relative;
    bottom: 0;
    text-align: left;
}
.bundleheader {
    height: 3em;
    text-align: center;
    position: relative;
    z-index: 0;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: white;
    background-color: black;
}


.bundleheader h2 {
    margin: 0;
    border: 0;
    padding: .35em 0 0 0;
    font-size: 1.5em;
    width: 200px;
}

button {
    float: right;
}

section {
    position: relative;
    z-index: 0;
    text-align: center;
    width: 1525px;
    margin: 0 auto 0 auto;
    overflow: auto;


}

#myVideo{
    width: auto;
    object-fit: contain;
}

footer {
height: 3em;
background-color: black;
position: relative;
bottom: 0;
}
div.clear { 
    clear:both;
    font-size: 1%;
}

/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-family: Arial;
    z-index: 2;
    float: right;
    top: 0;
    right: 0;
    margin: -1.75em .35em 0 0;

  }
  
  .custom-select select {
    position: relative;
    float: right;
    z-index: 2;
    margin: 0 0 0 0;
    background-color: darkgray;
    position: absolute;
    content: "";
    border: 8px solid transparent;
    border-color: lightgray  lightgray darkslategray darkslategray;
    right: 0;
    top: 0;
    color: rgba(141, 12, 12, 0.842);

  }
  
  .button {
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    background-color: rgb(15, 180, 15);
  }
  
  .button:hover {
    background-color: rgb(30, 9, 122); 
    color: white;
  }

  .pointer {cursor: pointer;}

  nav {
      float: right;
      margin: .75em 0 0 0;
  }


@media only screen and (max-width: 975px) {
    /* For snapped to half screen */

    #bundles1{
        margin: 10px auto 10px auto;
    }
    #bundles2{
        margin: 10px auto 10px auto;
    }
    #storeDescription{
        width: 750px;
        height: 7em;
        margin: 16vw 0 0 0;
        font-size: 1em;
        height: 10em;
    }
#pageheader {
    height: 15vw;
}
    #pageheader h1{
        font-size: 4.5vw;
    }
    section {
        width: 760px;
        margin: 0 auto 0 auto;
    }
    .bundleheader{
        width: 750px;
    }
    nav {
        font-size: 3vw;
    }
    #search {
height: 3vw;
    }
}

@media only screen and (max-width:320px) {
    /* For mobile phones: */

    #bundles1{
        width: 240px;
        margin: 10px auto 10px auto;
    }
    #bundles2{
        width: 240px;
        margin: 10px auto 10px auto;
    }
    #storeDescription{
        width: 240px;
        height:14.5em;
        font-size: .5em;
        margin: 7em auto 0 auto;
        padding: 1em 0 0 0;
    }
#pageheader {
    height: 3.5em;
}
    #pageheader h1{
        font-size: 1em;
    }
    section {
        width: 240px;
        margin: 0 auto 0 auto;
    }
    .bundleheader{
        height: 6em;
        width: 240px;
    }
    
    .custom-select{
        margin: 1em 1.5em 0 0;
    }
    nav {
        font-size: .75em;
        margin: 0;
    }
    #search {
    height: 1em;
    }
}
